* {
    padding: 0;
    margin: 0;
  }
  body {
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
.img-fluid{
    max-width: 100%;
    height: auto;
}
  
  .nav-ul-l ul {
    display: flex;
    align-items: center;
    gap: 45px;
    background: #F9F9F9;
    padding: 15px 40px;
    border-radius: 32px;
  }
  .nav-ul-l li {
    list-style: none;
  }
  .nav-ul-l a {
    text-decoration: none;
    color: #242331;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
  }
  .nav-btn a{
    text-decoration: none;
    color: #FFFF;
  }
  .new-btn {
    font-family: "Nunito", sans-serif;
    background-color: #5236FF;
   
    padding: 24px 45px;
    border-radius: 39px;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }

.saas-img{
    margin-top: 67px;
}
.saas{
    display: flex;
    gap: 190px;
    margin-top: 50px;
}
.sas-text h1{
    font-size: 75px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    max-width: 550px;
}
.s-img{
   display: flex; 
   gap: 13px;
}
.st h2{
    font-size:22px;
    font-family: "Nunito", sans-serif;
    font-weight: bold; 
}
.st h3{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #797979;
    margin-top: 10px;
}
.saas h5{
    margin-top: 27px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    margin-bottom: 27px;
}
.sas-buttons{
    display: flex;
    gap: 10px;
}
.sas-buttons .m{
    background-color: #5236FF;
    padding: 15px 41px;
    border: none;
    border-radius: 39px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
.sas-buttons .a{
    background-color: #5236FF;
    padding: 15px 41px;
    border: none;
    border-radius: 39px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}
.Product-button button{
    background-color: #5236FF;
    padding: 15px 41px;
    border: none;
    border-radius: 39px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
}


.about-saas{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
  }
.sa-7-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
}
.sa-10-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
}
  .sa-h2 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 67px;
    line-height: 157.4%;
  }
  .sa-h4 h3{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 27px;
    line-height: 157.4%;
  }
 
  .sa-h3 h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 27px;
  }
.sa-h5 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 10px;
}
.sa-h6 h5{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    line-height: 157.4%;
}
.sa-7 h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 70px;  
}
.sa-8 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    line-height: 157.4%;
    margin-bottom: 58px;
}
.sa-9{
    display: flex;
    justify-content: center;
}
.sa-9 h6{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 26px;
}

.sa-10 h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 70px;  
}
.sa-11 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
}

.sa-12 li{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
}
.hero{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.hero-text h2{
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #242331;
    max-width: 640px;
    background-color: #F9F9F9;
    border: none;
    border-radius: 20px;
    padding: 117px;
    line-height: 157.4%;
}
.favourite{
    margin-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
}
.favourite h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.favourite h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 26px;
    line-height: 157.4%;
}
.line{
    border: 1px solid #F9F9F9;
    margin-top: 170px;
    margin-bottom: 150px;
}
.latest{
    display: flex;
    justify-content: space-between;
}

.latest h1{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    font-weight: 800; 
}
.l-btn{
    background-color: #5236FF;
    padding: 15px 41px;
    border: none;
    border-radius: 39px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
}
.blog-container h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
    margin-bottom: 35px;
  }
  .blog-post {
    display: flex;
    gap: 40px;
    margin-top: 30px;
  }
  .blog-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .blog-post h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 123%;
    max-width: 550px;
  }
  .blog-post h2 {
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 157.4%;
  }
  .blog-container h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
    margin-bottom: 35px;
  }
  .blog-post {
    display: flex;
    gap: 40px;
    margin-top: 30px;
  }
  .blog-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .blog-post h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .blog-post h2 {
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 157.4%;
  }
  .read {
    font-size: 18px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    text-decoration: underline;
  }
 
@media (min-width: 320px){
  
  .saas-button{
    display: none;
  }
  .saas-button-1{
    display: none;
  }

  .saas{
    display: block;
    margin-top: 50px;
}
.sas-text h1{
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    max-width: 550px;
}
.s-img{
   display: flex; 
   gap: 13px;
}
.st h2{
    font-size:22px;
    font-family: "Nunito", sans-serif;
    font-weight: bold; 
}
.st h3{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #797979;
    margin-top: 10px;
}
.saas h5{
    margin-top: 27px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    margin-bottom: 27px;
}
.sas-buttons{
    display: flex;
    gap: 10px;
}
.about-saas{
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }
.sa-7-container{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 70px;
}
.sa-10-container{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 70px;
}
  .sa-h2 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 67px;
    line-height: 157.4%;
  }
  .sa-h4 h3{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 27px;
    line-height: 157.4%;
  }
 
  .sa-h3 h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 27px;
  }
.sa-h5 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 10px;
}
.sa-h6 h5{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    line-height: 157.4%;
}
.sa-7 h1{
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-top: 70px;  
}
.sa-8 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    margin-bottom: 58px;
    line-height: 157.4%;
}
.sa-9{
    display: flex;
    justify-content: center;
}
.sa-9 h6{
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #797979;
    margin-top: 26px;
}

.sa-10 h1{
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 800;
    margin-top: 70px;  
}
.hero{
    display: none;
}

.favourite{
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
}
.favourite h1{
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 800;
}
.line{
    border: 1px solid #F9F9F9;
    margin-top: 70px;
    margin-bottom: 0px;
}
.latest{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest h1{
   display: none;
}
.l-btn{
    background-color: #5236FF;
    padding: 15px 41px;
    border: none;
    border-radius: 39px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
}
.blog-container {
  margin-top: 120px;
}

.blog-container h1 {
  font-size: 30px;
  font-weight: bold;
  color: #242331;
  font-family: "Nunito", sans-serif;
  margin-bottom: 35px;
}
.blog-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30px;
}

.blog-post h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  line-height: 100%;
}
.blog-post h2 {
  font-size: 20px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  line-height: 157.4%;
}

.saas-button button{
  background-color: #FFFFFF;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 48px;
  border: none;
  border-radius: 39px;
  font-family: "Nunito", sans-serif;
}
.saas-button-1 button{
  background-color: #FFFFFF;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 48px;
  border: none;
  border-radius: 39px;
  font-family: "Nunito", sans-serif;
}




}
@media (min-width: 576px){
  .saas-button{
    display: flex;
  }
  .saas-button-1{
    display: flex;
  }
  .saas{
    display: block;
    margin-top: 50px;
}
.sas-text h1{
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    max-width: 550px;
}
.s-img{
   display: flex; 
   gap: 13px;
}
.st h2{
    font-size:22px;
    font-family: "Nunito", sans-serif;
    font-weight: bold; 
}
.st h3{
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #797979;
    margin-top: 10px;
}
.saas h5{
    margin-top: 27px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    margin-bottom: 27px;
}
.sas-buttons{
    display: flex;
    gap: 10px;
}
.about-saas{
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }
.sa-7-container{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 70px;
}
.sa-10-container{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 70px;
}
.sas-text h1{
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 40px;
}
.sa-7 h1{
  font-size: 35px;
}
.sa-3 h1{
  font-size: 35px;
}
.sa-10 h1{
  font-size: 35px;
}
.favourite h1{
  font-size: 35px;
}
.last-button{
  display: flex;
  gap: 10px;
  align-items: center;
}
.latest{
  display: flex;
  justify-content: space-between;
}

.latest h1{
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 800; 
  display: flex;
}
.blog-post{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saas-button{
  position: absolute;
  left: 2rem;
  top: 16rem;
  display: flex;
  place-items: center;
}
.saas-button-1{
  position: absolute;
  left: 2rem;
  top: 59rem;
  display: flex;
  place-items: center;
}
}
@media (min-width: 768px){

  .saas-button{
    display: none;
  }
  .saas-button-1{
    display: none;
  }
  .blog-2{
    margin-top: 0px;
  }
 
  .latest{
    display: flex;
    justify-content: space-between;
}

.latest h1{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    font-weight: 800; 
    display: flex;
}
 .blog-container {
    margin-top: 120px;
  }
  .blog-button {
    display: flex;
    justify-content: center;
  }
 
  .blog-container h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
    margin-bottom: 35px;
  }
  .blog-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
  }
  .blog-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .blog-post h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .blog-post h2 {
    font-size: 20px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 157.4%;
  }



}
@media (min-width: 992px){

  .saas-button{
    display: flex;

    gap: 10px;
  }
  .saas-button-1{
    display: flex;
    gap: 10px;
  }

  .blog-post{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saas-button{
    position: absolute;
    left: 2rem;
    top: 18rem;
    display: flex;
    place-items: center;
  }
  .saas-button-1{
    position: absolute;
    left: 2rem;
    top: 58rem;
    display: flex;
    place-items: center;
  }

  .saas{
    display: flex;
    gap: 50px;
  }
  
}
@media (min-width: 1200px){
  .blog-post{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saas-button{
    position: absolute;
    left: 2rem;
    top: 16rem;
    display: flex;
    place-items: center;
  }
  .saas-button-1{
    position: absolute;
    left: 41rem;
    top: 16rem;
    display: flex;
    place-items: center;
  }
   .about-saas{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
  }
  .sas-text h1{
    font-size: 75px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
  }
.sa-7-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
}
.sa-10-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
}
  .sa-h2 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 67px;
    line-height: 157.4%;
  }
  .sa-h4 h3{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 27px;
    line-height: 157.4%;
  }
 
  .sa-h3 h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 27px;
  }
.sa-h5 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 10px;
    line-height: 157.4%;
}
.sa-h6 h5{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    line-height: 157.4%;
}
.sa-7 h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 70px;  
}
.sa-8 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    margin-bottom: 58px;
    line-height: 157.4%;
}
.sa-9{
    display: flex;
    justify-content: center;
}
.sa-9 h6{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 26px;
    line-height: 157.4%;
}

.sa-10 h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 70px;  
}
.sa-11 h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    line-height: 157.4%; 
}

.sa-12 li{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
}
.hero{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.hero-text h2{
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #242331;
    max-width: 640px;
    background-color: #F9F9F9;
    border: none;
    border-radius: 20px;
    padding: 107px;
    line-height: 157.4%;
}
.favourite{
    margin-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
}
.favourite h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.favourite h2{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 26px;
    line-height: 157.4%;
}
.line{
    border: 1px solid #F9F9F9;
    margin-top: 170px;
    margin-bottom: 150px;
}
.latest{
    display: flex;
    justify-content: space-between;
}

.latest h1{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    font-weight: 800; 
}
.l-btn{
    background-color: #5236FF;
    padding: 15px 41px;
    border: none;
    border-radius: 39px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 10px;
}
.blog-container h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
    margin-bottom: 35px;
  }
  .blog-post {
    display: grid;
    gap: 40px;
    margin-top: 30px;
  }
  .blog-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .blog-post h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .blog-post h2 {
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 157.4%;
  }
  .blog-container h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
    margin-bottom: 35px;
  }

  .blog-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .blog-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .blog-post h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .blog-post h2 {
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 157.4%;
  }
  .read {
    font-size: 18px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    text-decoration: underline;
  }
  
.saas{
  gap: 190px;
}
.line-5{
  border: 1px solid #d3d3d3;
  margin-top: 200px;
  margin-bottom: 200px;
}

}

  @media (min-width:320px){
    .container{
     max-width: 320px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:576px){
    .container{
     max-width: 576px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:768px){
    .container{
     max-width: 768px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:992px){
    .container{
     max-width: 992px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:1200px){
    .container{
     max-width: 1200px;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:1400px){
    .container{
     max-width: 1400px;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:1400px){
    .hero-text h2{
      font-family: "Nunito", sans-serif;
      font-size: 25px;
      font-weight: 400;
      color: #242331;
      max-width: 720px;
      background-color: #F9F9F9;
      border: none;
      border-radius: 20px;
      padding: 107px;
      line-height: 157.4%;
  }
  
    .saas-button{
      position: absolute;
      left: 2rem;
      top: 18rem;
      display: flex;
      place-items: center;
    }
    .saas-button-1{
      position: absolute;
      left: 47rem;
      top: 18rem;
      display: flex;
      place-items: center;
    }
    
    .sas-text h1{
      font-size: 75px;
      font-family: "Nunito", sans-serif;
      font-weight: 800;
      max-width: 870px;
      line-height: 110%;
    }
    .sa-h2 h2 {
      font-family: "Nunito", sans-serif;
      font-size: 22px;
      font-weight: 400;
      color: #797979;
      margin-bottom: 67px;
      max-width: 960px;
      line-height: 157.4%;
  }
  .sa-h4 h3 {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-bottom: 27px;
    max-width: 873px;
    line-height: 157.4%;
  }
  .sa-h6 h5 {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    margin-top: 27px;
    max-width: 962px;
    line-height: 157.4%;
}
.sa-8 h2 {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  margin-top: 27px;
  margin-bottom: 58px;
  max-width: 1011px;
  line-height: 157.4%;
}
.sa-11 h2 {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  margin-top: 27px;
  margin-bottom: 58px;
  max-width: 1011px;
  line-height: 157.4%;
}
.hero-text h2{
  padding:  100px 54px;
  line-height: 157.4%;
}
.favourite h2 {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  margin-top: 26px;
  max-width: 1012px;
  line-height: 157.4%;
}
.l-btn {
  background-color: #5236FF;
  padding: 25px 51px;
  border: none;
  border-radius: 39px;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 10px;
}
.blog-post h1 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  line-height: 123%;
  max-width: 550px;
}
.blog-post h2{
  line-height: 157.4%;
}

}



@media (min-width:320px){
  .navbar {
    display: flex;
  }
  .navbar-container {
    display: flex;
  }

  .nav-ul-l ul {
    display: none;
  }

  .nav-btn {
    display: none;
  }
}
@media (min-width:576px){
  .navbar {
    display: flex;
  }
  .navbar-container {
    display: flex;
  }

  .nav-ul-l ul {
    display: none;
  }

  .nav-btn {
    display: flex;
  }
}
@media (min-width:768px){
  .navbar {
    display: flex;
  }
  .navbar-container {
    display: flex;
  }

  .nav-ul-l ul {
    display: none;
  }

  .nav-btn {
    display: flex;
  }
}
@media (min-width:992px){
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .nav-ul-l ul {
    display: flex;
  }
  .nav-ul-l ul {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 0px;
    background: #F9F9F9;
    padding: 25px 40px;
    border-radius: 32px;
  }
  .nav-btn {
    display: flex;
  }
}
@media (min-width:1200px){
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .nav-ul-l ul {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 0px;
    background: #F9F9F9;
    padding: 25px 54px;
    border-radius: 32px;
  }
  .nav-ul-l li {
    list-style: none;
  }
  .nav-ul-l a {
    text-decoration: none;
    color: #242331;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
  }
  .new-btn {
    font-family: "Nunito", sans-serif;
    background-color: #5236FF;
    color: #FFFF;
    padding: 25px 54px;
    border-radius: 39px;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }
}
@media (min-width: 1400px){
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 59px;
    }
    .navbar-container {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    
    .nav-ul-l ul {
      display: flex;
      align-items: center;
      gap: 45px;
      margin-top: 0px;
      background: #F9F9F9;
      padding: 25px 54px;
      border-radius: 39px;
    }
    .nav-ul-l li {
      list-style: none;
    }
    .nav-ul-l a {
      text-decoration: none;
      color: #242331;
      font-size: 18px;
      font-family: "Nunito", sans-serif;
    }
    .new-btn {
      font-family: "Nunito", sans-serif;
      background-color: #5236FF;
      color: #FFFF;
      padding: 25px 54px;
      border-radius: 39px;
      border: none;
      font-size: 18px;
      font-weight: bold;
    }
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.coulmn-1 h4 {
  margin-top: 26px;
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
}

.mail-logo {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.mail-logo h3 {
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
}
.phone-logo {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.phone-logo h3 {
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
}
.coulmn-2 {
  display: flex;
  gap: 40px;
}
.coulmn-2 h1 {
  font-size: 30px;
  font-weight: bold;
  color: #242331;
  font-family: "Nunito", sans-serif;
}
.coulmn-2 h5 {
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
  margin-top: 20px;
}
.coulmn-3 h1 {
  font-size: 30px;
  font-weight: bold;
  color: #242331;
  font-family: "Nunito", sans-serif;
}
.coulmn-3 h5 {
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
  margin-top: 20px;
}

.coulmn-4 {
  background-color: #f9f9f9;
  padding: 37px 65px;
  border: none;
  border-radius: 50px;
}
.coulmn-4 h1 {
  font-size: 30px;
  font-weight: bold;
  color: #242331;
  font-family: "Nunito", sans-serif;
  line-height: 100%;
  margin-top: 30px;
}
.coulmn-4 h2 {
  font-size: 22px;
  font-weight: bold;
  color: #5236FF;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
  margin-top: 30px;
}
.coulmn-4 h4 {
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
  margin-top: 20px;
}
.last-button {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  align-items: end;
}
.last-button .apple {
  font-family: "Nunito", sans-serif;
  background-color: #242331;
  color: #ffffff;
  padding: 14px 20px;
  border-radius: 32px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
.last-button .vector {
  font-family: "Nunito", sans-serif;
  background-color: #d3d3d3;
  color: #ffffff;
  padding: 14px 27px;
  border-radius: 32px;
  border: 1px solid #D3D3D3;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-container .line-1{
  margin-top: 32px;
  border: 1px solid #E3E3E3;
}

.line-3{
  margin-top: 51px;
  border: 1px solid #E3E3E3;
  margin-bottom: 35px;
}
.copyright-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.copyright-text h2{
  font-size: 22px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  color: #797979;
}
.copy-imgs{
  display: flex;
  gap: 25px;
}





@media(min-width: 1400px){
  
.coulmn-1 h4{
  font-size: 22px;
  font-weight: 400;
  max-width: 380px;
  line-height: 157.4%;
}
.mail-logo-email img{
  margin-top: 10px;
}
.phone img{
  margin-top: 10px;
}
.mail-logo h3{
  font-size: 22px;
  font-weight: 400;
  max-width: 380px;
  line-height: 157.4%;
}
.phone-logo h3{
  font-size: 22px;
  font-weight: 400;
  max-width: 380px;
  line-height: 157.4%;
}
.coulmn-2{
  gap: 62px;
}
.footer-container .line-1 {
  margin-top: 31px;
  border: 1px solid #E3E3E3;
}
.coulmn-2 h5{
  font-size: 22px;
  font-weight: 400;
  max-width: 380px;
}
.coulmn-4 {
  background-color: #f9f9f9;
  padding: 37px 65px;
  border: none;
  border-radius: 50px;
}
.coulmn-4 h1 {
  font-size: 30px;
  font-weight: 800;
  color: #242331;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
  margin-top: 15px;
  max-width: 350px;
}
.coulmn-4 h2 {
  font-size: 18px;
  font-weight: bold;
  color: #5236FF;
  font-family: "Nunito", sans-serif;
  margin-top: 30px;
}
.coulmn-4 h4 {
   font-size: 22px;
   font-weight: 400;
   color: #797979;
   font-family: "Nunito", sans-serif;
   margin-top: 15px;
   line-height: 157.4%;
}
.last-button{
   display: flex;
   align-items: end;
}
.last-button .vector{
   padding: 15px 54px;
   border-radius: 39px;
   border: 1px solid #D3D3D3;
}
.last-button .apple{
   padding: 15px 54px;
   border-radius: 39px;
}
.last-button .apple {
  font-family: "Nunito", sans-serif;
  background-color: #242331;
  color: #ffffff;
  padding: 24px 54px;
  border-radius: 39px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  whitespace:pre;
}
.last-button .vector {
  font-family: "Nunito", sans-serif;
  background-color: #d3d3d3;
  color: #ffffff;
  padding: 24px 54px;
  border-radius: 39px;
  border: 1px solid #D3D3D3;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  whitespace:pre;
}
}

@media (min-width:320px){
  .container{
   max-width: 320px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
  }
}
@media (min-width:576px){
  .container{
   max-width: 576px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
  }
}
@media (min-width:768px){
  .container{
   max-width: 768px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
  }
}
@media (min-width:992px){
  .container{
   max-width: 992px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
  }
}
@media (min-width:1200px){
  .container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0;
  }
}
@media (min-width:1400px){
  .container{
   max-width: 1400px;
   margin: 0 auto;
   padding: 0;
  }
}
@media (min-width:320px){
   .footer-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;
    }
    .last-button{
      display: block;
    }
    .vector{
      margin-top: 10px;
    }
    .coulmn-2{
      gap: 10px;
    }
    .copyright-container{
      display: block;
    }
    .copyright-text h2{
      margin-bottom: 50px;
    }
    .coulmn-4{
      padding: 10px 10px;
    }
    .last-button .apple {
      font-family: "Nunito", sans-serif;
      background-color: #242331;
      color: #ffffff;
      padding: 24px 54px;
      border-radius: 39px;
      border: none;
      font-size: 18px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .last-button .vector {
      font-family: "Nunito", sans-serif;
      background-color: #d3d3d3;
      color: #ffffff;
      padding: 24px 54px;
      border-radius: 39px;
      border: 1px solid #D3D3D3;
      font-size: 18px;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    
}
@media (min-width:576px){
   .footer-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;
    }
    .last-button{
      display: flex;
    }
    .vector{
      margin-top: 10px;
    }
    .coulmn-2{
      gap: 71px;
      margin-top: 30px;
    }
    .copyright-container{
      display: block;
    }
    .copyright-text h2{
      margin-bottom: 50px;
    }
    .coulmn-4{
      padding: 10px 10px;
      margin-top: 30px;
    }
   
}
@media (min-width:768px){
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    gap: 40px;
  }
  .coulmn-2{
    gap: 21px;
    margin-top: 0px;
  }
  .coulmn-4{
    display: none;
  }

}
@media (min-width:992px){
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    gap: 10px;
  }
  .coulmn-2{
    gap: 10px;
    margin-top: 0px;
  }
  .coulmn-4{
    display: grid;
  }
  .last-button{
    display: block;
  }
  .vector{
    margin-top: 10px;
  }
  .copyright-container{
    display: flex;
  }

}
@media (min-width: 1200px){
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 58px;
  }
 .last-button{
  display: flex;
  gap: 10px;
  align-items: end;
 }
 .vector{
  margin-top: 0px;
 }
 .coulmn-2{
  gap: 10px;
  margin-top: 0px;
 }
 .coulmn-2 h5{
  font-size: 22px;
  font-weight: 400;
  max-width: 380px;
}
.coulmn-4 {
background-color: #f9f9f9;
padding: 15px 15px;
border: none;
border-radius: 50px;
}
.coulmn-4 h1 {
font-size: 30px;
font-weight: 800;
color: #242331;
font-family: "Nunito", sans-serif;
line-height: 157.4%;
margin-top: 15px;
max-width: 350px;
}
.coulmn-4 h2 {
font-size: 18px;
font-weight: bold;
color: #5236FF;
font-family: "Nunito", sans-serif;
margin-top: 30px;
}
.coulmn-4 h4 {
font-size: 22px;
font-weight: 400;
color: #797979;
font-family: "Nunito", sans-serif;
margin-top: 15px;
line-height: 157.4%;
}
.last-button .vector{
padding: 24px 40px;
border-radius: 39px;
white-space: pre;
border: 1px solid #D3D3D3;
}
.last-button .apple{
padding: 24px 40px;
border-radius: 39px;
white-space: pre;
}
.coulmn-1 h4{
font-size: 22px;
font-weight: 400;
max-width: 380px;
line-height: 157.4%;
}
.mail-logo h3{
font-size: 22px;
font-weight: 400;
max-width: 380px;
line-height: 157.4%;
}
.phone-logo h3{
font-size: 22px;
font-weight: 400;
max-width: 380px;
line-height: 157.4%;
}

}
@media (min-width: 1400px){
  .coulmn-1 h4{
    font-size: 22px;
    font-weight: 400;
    max-width: 380px;
    line-height: 157.4%;
  }
  .mail-logo-email img{
    margin-top: 10px;
  }
  .phone img{
    margin-top: 10px;
  }
  .mail-logo h3{
    font-size: 22px;
    font-weight: 400;
    max-width: 380px;
    line-height: 157.4%;
  }
  .phone-logo h3{
    font-size: 22px;
    font-weight: 400;
    max-width: 380px;
    line-height: 157.4%;
  }
  .coulmn-2{
    gap: 40px;
  }
  .footer-container .line-1 {
    margin-top: 31px;
    border: 1px solid #E3E3E3;
}
.coulmn-2 h5{
    font-size: 22px;
    font-weight: 400;
    max-width: 380px;
}
.coulmn-4 {
  background-color: #f9f9f9;
  padding: 37px 65px;
  border: none;
  border-radius: 50px;
  margin-top: 0px;
}
.coulmn-4 h1 {
  font-size: 30px;
  font-weight: 800;
  color: #242331;
  font-family: "Nunito", sans-serif;
  line-height: 157.4%;
  margin-top: 15px;
  max-width: 350px;
}
.coulmn-4 h2 {
  font-size: 18px;
  font-weight: bold;
  color: #5236FF;
  font-family: "Nunito", sans-serif;
  margin-top: 30px;
}
.coulmn-4 h4 {
  font-size: 22px;
  font-weight: 400;
  color: #797979;
  font-family: "Nunito", sans-serif;
  margin-top: 15px;
  line-height: 157.4%;
  max-width: 450px;
}
.last-button{
  display: flex;
  align-items: end;
}
.last-button .vector{
  padding: 25px 54px;
  border-radius: 39px;
  white-space: pre;
  border: 1px solid #D3D3D3;
}
.last-button .apple{
  padding: 25px 54px;
  border-radius: 39px;
  white-space: pre;
}

}

@media (min-width: 320px){
  .banner-image img{
      display: none;
     }
     #image{
      display: none;
   
     }
  .banner-container {

      margin-top: 100px;
      background: url(images/background\ \(4\).png);
      background-position: center;
      background-size: cover;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      display: block;
    }
    .banner-text {
      padding-top: 100px;
    }
    .banner-text h1 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 800;
      font-family: "Nunito", sans-serif;
      line-height: 100%;
    }
    .banner-text h2 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      font-family: "Nunito", sans-serif;
      line-height: 157.4%;
      margin-top: 26px;
    }
    .emaiaddress {
      display: none;
    }
    .emaiaddress input,
    ::placeholder {
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
 
}
@media (min-width: 576px){
  .banner-container {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 100px;
      background: url(images/background\ \(4\).png);
      background-position: center;
      background-size: cover;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      display: block;
    }
    .banner-text {
      padding-top: 100px;
    }
    .banner-text h1 {
      color: #ffffff;
      font-size: 40px;
      font-weight: 800;
      font-family: "Nunito", sans-serif;
      line-height: 100%;
    }
    .banner-text h2 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      font-family: "Nunito", sans-serif;
      line-height: 157.4%;
      margin-top: 26px;
    }
    .emaiaddress {
      display: flex;
      margin-bottom: 20px;
    }
}
@media (min-width: 768px){
  .banner-container {
      margin-top: 100px;
      background: url(images/background\ \(4\).png);
      background-position: center;
      background-size: cover;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      display: flex;
    }
    .banner-text {
      padding-top: 100px;
    }
    .banner-text h1 {
      color: #ffffff;
      font-size: 40px;
      font-weight: 800;
      font-family: "Nunito", sans-serif;
      line-height: 100%;
    }
    .banner-text h2 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      font-family: "Nunito", sans-serif;
      line-height: 157.4%;
      margin-top: 26px;
    }
    .emaiaddress {
      display: flex;
      margin-bottom: 30px;
      align-items: end;
    }
    .emaiaddress input,
    ::placeholder {
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
    .submit{
      background-color: white;
      color: #5236ff;
      padding:24px 34px;
      border: none;
      border-radius: 39px;
      font-size: 18px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
    }
}
@media (min-width: 992px){
  .banner-container {

      margin-top: 200px;
      background: url(images/background\ \(4\).png);
      background-position: center;
      background-size: cover;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      display: flex;
    }
    .banner-text {
      padding-top: 100px;
    }
    .banner-text h1 {
      color: #ffffff;
      font-size: 40px;
      font-weight: 800;
      font-family: "Nunito", sans-serif;
      line-height: 100%;
    }
    .banner-text h2 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      font-family: "Nunito", sans-serif;
      line-height: 157.4%;
      margin-top: 26px;
    }
    .emaiaddress {
      margin-top: 32px;
      display: flex;
      gap: 20px;
    }
    .emaiaddress input {
      padding: 25px 39px;
      border: none;
      border-radius: 39px;
      background-color: #8879eb;
    }
    .emaiaddress input,
    ::placeholder {
      color: white;
    }
    .submit {
      background-color: white;
      color: #5236ff;
      padding: 25px 34px;
      border: none;
      border-radius: 39px;
      font-size: 18px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
    }
}
@media (min-width: 1200px){
  .banner-container {
      margin-top: 200px;
      background: url(images/background\ \(4\).png);
      background-position: center;
      background-size: cover;
      padding: 50px 20px;
      border: none;
      border-radius: 30px;
      display: flex;
      gap: 33px;
  
    }
    .banner-text {
      padding-top: 125px;
    }
  
    #image{
      display: flex;
    }
    .banner-image img{
    display: flex;
      
    }
    .banner-text h1 {
      color: #ffffff;
      font-size: 50px;
      font-weight: 800;
      font-family: "Nunito", sans-serif;
      max-width: 500px;
      line-height: 110%;
    }
    .banner-text h2 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      font-family: "Nunito", sans-serif;
      max-width: 600px;
      line-height: 157.4%;
      margin-top: 26px;
    }
    .emaiaddress {
      margin-top: 32px;
      display: flex;
      gap: 10px;
      align-items: end;
    }
    .emaiaddress input {
      padding: 25px 24px;
      border: none;
      border-radius: 32px;
      background-color: #8879eb;
    }
    .emaiaddress input,
    ::placeholder {
      color: white;
      font-size: 18px;
      font-weight: 500;
    }
    .submit {
      background-color: white;
      color: #5236ff;
      padding: 25px 24px;
      border: none;
      border-radius: 39px;
      font-size: 18px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
      white-space: pre;
    }
 
    .banner-container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .banner-image{
      position: absolute;
      left: 29rem;
      top: 21rem;
      display: flex;
      place-items: center;
    }
    
}
@media (min-width: 1400px){
 
 
    .banner-text h1 {
      color: #ffffff;
      font-size: 50px;
      font-weight: 800;
      font-family: "Nunito", sans-serif;
      max-width: 500px;
      line-height: 110%;
    }
    
    .emaiaddress input {
      padding: 25px 39px;
      border: none;
      border-radius: 39px;
      background-color: #8879eb;
    }
    .emaiaddress input,
    ::placeholder {
      color: white;
    }
    .submit {
      background-color: white;
      color: #5236ff;
      padding: 25px 34px;
      border: none;
      border-radius: 39px;
      font-size: 18px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
    }
    .banner-image{
      position: absolute;
      left: 37rem;
      top: 21rem;
      display: flex;
      place-items: center;
    }
}